<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-Usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <h2 class="col-md-12">Login usuario</h1>
      <!--h2 class="col-md-5">Soy {{id}} </h2-->
      <!--h2 class="col-md-5"> y mi email es {{email}} años</h2-->
    </div>
    <input type="email" placeholder="Email" value="{{email::input}}">
    <input type="password" placeholder="Password" value="{{password::input}}">
    <button class="btn btn-success" on-click="login">login</button>

    <span hidden$="{{!isLogged}}">Si esto sale nos podemos ir</span> <!--Hidden a true, se muestra. A false no se muestra-->


    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="manageAJAXResponse"
    >
  </template>

  <script>



    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
             type: String

          },
          password: {
             type: String

          }

        };
      }

        login(){
          console.log("El usuario ha pulsado el botón");
          var loginData = {
            "email": this.email,
            "password": this.password
          };

          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();
          console.log("Petición enviada");
          }

       manageAJAXResponse(data){
        console.log( "Recibida respuesta del servidor");
        console.log( data.detail.response);

       }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
