<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <h1 class="col-md-12">Visor cuentas</h1>
      <h2 class="col-md-5">Soy {{userid}} </h2>
      <h2 class="col-md-5"> mi cuenta es {{iban}}</h2>
      <h2 class="col-md-5"> mi saldo es {{balance}}</h2>

    </div>
    <!--button class="btn-success">login</button-->
    <!--button class="btn-warning">logout</button-->
    <!--input type="text" value="{{first_name::input}}"/-->
    <!--input type="range" min="18" value={{age::input}} max="70"/-->
    <iron-ajax
      auto=""
      id="getUserAccount"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"
    >





  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {



          userid: {
             type: Number

          },


          iban: {
             type: String

          },

          balance: {
             type: Number


        }
      };
    }

      showData(data){
      //console.log(data)
      console.log("recibimos los datos del usuario");
      console.log(data.detail.response[0].userid);
      console.log(data.detail.response[0].iban);
      console.log(data.detail.response[0].balance);

      this.userid = data.detail.response[0].userid;
      this.iban = data.detail.response[0].iban;
      this.balance = data.detail.response[0].balance;

        }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
